* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}


nav > ul {
	list-style-type: none;
	text-align: center;
}

nav > ul > li > img {
	height: 50px;
	width: 170px;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

footer {
	padding: 0.7rem;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #f1165a;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#product-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#pre-footer {
	padding: 1rem;
	background-color: #010082;
	color: white;
	text-align: center;
}

#product-info h2 {
	margin-bottom: 1rem;
	text-align: center;
}

#product-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#product-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 300px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border: 1px solid black;
	text-align: center;
}

#product-info > div > img {
	height: 150px;
	width: 200px;
}

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

#pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

footer {
	text-align: center;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}